<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

	<body>
		<%- include('partials/header') %>
	
	
			<!-- COMIENZO DE CARROUSEL-->
			<script>
				$('.carousel').carousel({
 					 interval: 5000,
  				pause: "false"
						});
			</script>
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
				  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img class="d-block w-100" src="images/carru3.jpg" data-color="lightblue" alt="First Image">
					<div class="carousel-caption d-md-block">
						<a class="boton" href="#" target="_blank"><h5>VER PRODUCTO</h5></a>
					</div>
				  </div>
				  <div class="carousel-item">
					<img class="d-block w-100" src="images/carru2.jpg" data-color="firebrick" alt="Second Image">
					<div class="carousel-caption d-md-block">
						<a class="boton" href="#" target="_blank"><h5>VER PRODUCTO</h5></a>
						
					</div>
				  </div>
				  <div class="carousel-item">
					<img class="d-block w-100" src="images/carru3.jpg" data-color="violet" alt="Third Image">
					<div class="carousel-caption d-md-block">
						<a class="boton" href="#" target="_blank"><h5>VER PRODUCTO</h5></a>
					</div>
				  </div>
				</div>
				<!-- Controls -->
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
					</a>
					  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
					</a>
					</div>
		

			<!-- FIN CARROUSEL -->

			

<!-- PRODUCTOS !-->
		<section class="container">
			<div class="row productos">
			  <div class="col-12">
				<h2>Basadø en tu última visita</h2>
			  </div>

			  <% visitados.forEach(producto => { %>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="contenido">
						<a href="products/detail/<%- producto.id %> ">	
							<div>
								<img src="/images/productos/<%- producto.image %> " alt="Imagen del producto">
								</div>
							<div class="datos">
								<h3>$<%- producto.price - (producto.price / 100 * producto.discount) %> </h3>
								<% if (producto.discount > 0) { %>
									<span><%- producto.discount %> % OFF</span>
								<% } %>
								<p><%- producto.name %> </p>
								<i class="fas fa-truck"></i>
							</div>
							</div>
						</a>
				  </div>
			  <% }) %>

			  <!-- <div class="col-12 col-md-6 col-lg-3">
				<div class="contenido">
					<div>
					<img src="/images/productos/ARDUINO PRO MINI 5V 16MHZ ROBOTICA ATMEL ATMEGA328.jpg" alt="">
					</div>
				  <div class="datos">
					<h3>$500,97</h3>
					<p>ARDUINO PRO MINI 5V 16MHZ ROBOTICA ATMEL ATMEGA328</p>
					<i class="fas fa-truck"></i>
				  </div>
				</div>
			  </div> -->

			  <!-- <div class="col-12 col-md-6 col-lg-3">
				<div class="contenido">
					<div>
						<img src="/images/productos/ARDUINO NANO V3.0 ATMEGA328 COMPATIBLE USB CON CH340.jpg" alt="">
					</div>
				  <div class="datos">
					<h3>$651,33</h3>
					<span>10% OFF</span>
					<p>ARDUINO NANO V3.0 ATMEGA328 COMPATIBLE USB CON CH340</p>
					<i class="fas fa-truck "></i>
				  </div>
				</div>
			  </div>

			  <div class="col-12 col-md-6 col-lg-3">
				<div class="contenido">
					<div>
						<img src="/images/productos/FUENTE STEP DOWN DC DC LM2596 1.25V 35V 3A ARDUINO.jpg" alt="">
					</div>
				  <div class="datos">
					<h3>$210,40</h3>
					<span>30% OFF</span>
					<p>FUENTE STEP DOWN DC DC LM2596 1.25V 35V 3A ARDUINO</p>
					<i class="fas fa-truck "></i>
				  </div>
				</div>
			  </div>


			  <div class="col-12 col-md-6 col-lg-3">
				<div class="contenido">
				  <div>
					<img src="/images/productos/SENSOR ULTRASONIDO HC-SR04 DISTANCIA ARDUINO ROBOTICA.jpg" alt="">
				  </div>
				  <div class="datos">
					<h3>250,68</h3>
					<span>20% OFF</span>
					<p>SENSOR ULTRASONIDO HC-SR04 DISTANCIA ARDUINO ROBOTICA</p>
					<i class="fas fa-truck "></i>
				  </div>
				</div>
			  </div>


			</div> -->
		  </section>
		  <!-- PRODUCTOS OFERTAS -->
		  <section class="container">
			<div class="row productos">
			  <div class="col-12">
				<h2>Ofertas</h2>
			  </div>
			  <!-- <div class="col-12 col-md-6 col-lg-3">
				<div class="contenido"> -->

					<% enOferta.forEach(producto => { %>
						<div class="col-12 col-md-6 col-lg-3">
							<div class="contenido">
								<a href="products/detail/<%- producto.id %> ">	
									<div>
										<img src="/images/productos/<%- producto.image %> " alt="Imagen del producto">
										</div>
									<div class="datos">
										<h3>$<%- producto.price - (producto.price / 100 * producto.discount) %> </h3>
										<% if (producto.discount > 0) { %>
											<span><%- producto.discount %> % OFF</span>
										<% } %>
										<p><%- producto.name %> </p>
										<i class="fas fa-truck"></i>
									</div>
									</div>
								</a>
						  </div>
					  <% }) %>
					  
					<!-- <div>
						<img src="/images/productos/MODULO SENSOR DE SONIDO MICROFONO REGULABLE ARDUINO.jpg" alt="">
					</div>
				  <div class="datos">
					<h3>$210,40</h3>
					<span>40% OFF</span>
					<p>MODULO SENSOR DE SONIDO MICROFONO REGULABLE ARDUINO</p>
					<i class="fas fa-truck"></i>
				  </div>
				</div>
			  </div>
			  <div class="col-12 col-md-6 col-lg-3">
				<div class="contenido">
					<div>
						<img src="images/productos/MINI SERVO TOWER PRO SG92 2.5KG TORQUE ARDUINO.jpg" alt="">
					</div>
				  <div class="datos">
					<h3>$604,35</h3>
					<span>10% OFF</span>
					<p>MINI SERVO TOWER PRO SG92 2.5KG TORQUE ARDUINO</p>
					<i class="fas fa-truck "></i>
				  </div>
				</div>
			  </div>
			  <div class="col-12 col-md-6 col-lg-3">
				<div class="contenido">
					<div>
						<img src="images/productos/PACK 50 LEDS 3MM ROJOS AMARILLOS VERDES AZUL BLANCO.jpg" alt="">
					</div>
				  <div class="datos">
					<h3>$366,83</h3>
					<span>30% OFF</span>
					<p>PACK 50 LEDS 3MM ROJOS AMARILLOS VERDES AZUL BLANCO</p>
					<i class="fas fa-truck "></i>
				  </div>
				</div>
			  </div>
			  <div class="col-12 col-md-6 col-lg-3">
				<div class="contenido">
					<div>
						<img src="/images/productos/DISPLAY LCD 1602 HD44780 FONDO AZUL TEXTO BLANCO 16X2.jpg" alt="">
					</div>
				  <div class="datos">
					<h3>$454,13</h3>
					<span>10% OFF</span>
					<p>DISPLAY LCD 1602 HD44780 FONDO AZUL TEXTO BLANCO 16X2</p>
					<i class="fas fa-truck "></i>
				  </div>
				</div>
			  </div>
			</div>
		  </section>
 -->
	<!-- CATEGORIAS -->

<section class="container">
	<div class="row">
		<div class="col-12">
			<h2 class="categoriaTitulo">Categørias</h2>
		  </div>
		</div>
</section>




	 <section class="container">
		<div class="row categorias1">

			<div class="col-12 col-md-6 col-lg-3 back1 caja1">
				<a href="#" target="_blank"> <h3 class="titleBack">ARDUINO</h3></a>
			  </div>

			  <div class="col-12 col-md-6 col-lg-3 back2 caja1">
				<a href="#" target="_blank"> <h3 class="titleBack">MODULOS</h3></a>
			  </div>

			  <div class="col-12 col-md-6 col-lg-3 back3 caja1">
				<a href="#" target="_blank"> <h3 class="titleBack">SENSORES</h3></a>
			  </div>

			  <div class="col-12 col-md-6 col-lg-3 back4 caja1">
				<a href="#" target="_blank"> <h3 class="titleBack">ACCESORIOS</h3></a>
			  </div>
		
		</div>
	  </section>


	  <section class="container cate">
		<div class="row" id="categorias">
		  
			<div class="col-12 col-md-6 col-lg-3 back5 caja1">
				<a href="#" target="_blank"> <h3 class="titleBack">SERVOS</h3></a>
			  </div>
	
		  
			  <div class="col-12 col-md-6 col-lg-3 back6 caja1">
				<a href="#" target="_blank"> <h3 class="titleBack">MOTORES</h3></a>
			  </div>

			  <div class="col-12 col-md-6 col-lg-3 back7 caja1">
				<a href="#" target="_blank"> <h3 class="titleBack">LED</h3></a>
			  </div>

			  <div class="col-12 col-md-6 col-lg-3 back8 caja1">
				<a href="#" target="_blank"> <h3 class="titleBack">COMPONENTES</h3></a>
			  </div>
		</div>
	  </section> 

	  <%- include('partials/footer') %>







	</body>

</html>