<!DOCTYPE html>
<html lang="en">
    <%-include("partials/head")%>
<body>
    <%-include("partials/header")%>
    <script type="text/javascript">
        document.querySelector(".vender-li").classList.add("active")
    </script>

    <div class="profile">
        <h1><%=user.name%> <%=user.lastname%></h1>
        <img class= "avatar" src="/images/users/<%=user.avatar%>" alt="">
        <a  href='/user/iniciar'> Cerrar sessión </a>
    </div>
    <%-include("./partials/footer")%>
</body>
</html>