<!DOCTYPE html>
<html lang="en">
    <%-include("partials/head")%>
<body>
    <%-include("partials/header")%>
    <script type="text/javascript">
        document.querySelector(".vender-li").classList.add("active")
    </script>

<div class="container profile">

    <div class="row">
        <div class="col-md-6 avar1">
            <img class= "avatar" src="/images/avatares/<%=user.avatar%>" alt="">

        </div>
    </div>

    <div class="row hola2">
        <div class="col-md-6">
            <h1 id="Hola"> Hola! <%=user.name%> <%=user.lastname%></h1>

        </div>
    </div>
</div>


<div class="container profile">
    <div class="row">
        <div class="col-md-12">
            
            <button type="submit" class="cerrar">  <a style="color: #ffffff;" href='/user/iniciar'> Cerrar sessión </a> </button>
        </div>
    </div>
</div>


  
    <%-include("./partials/footer")%>
</body>
</html>